
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  background: url("../img/adam.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  overflow: hidden;
  
 
}

#text-cestitke
{
  margin: 50px auto;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.781);
  color:azure;
  padding: 5px 5px;
  text-align: center;

  
}

h1 
{

  margin-bottom: 200px;

}

@media screen and (max-width: 600px) {

  #text-cestitke
  {
  width: 100%;
  }
}